<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WindowsFormsApp2.Properties.Settings>
            <setting name="FileAddress" serializeAs="String">
                <value>System.Environment.CurrentDirectory</value>
            </setting>
            <setting name="F1" serializeAs="String">
                <value>&lt;p&gt; &lt;/p&gt; </value>
            </setting>
            <setting name="F2" serializeAs="String">
                <value>&lt;br&gt;</value>
            </setting>
            <setting name="F3" serializeAs="String">
                <value>&lt;b&gt; &lt;/b&gt;</value>
            </setting>
            <setting name="F4" serializeAs="String">
                <value>&lt;u&gt; &lt;/u&gt;</value>
            </setting>
            <setting name="F5" serializeAs="String">
                <value>&lt;i&gt; &lt;/i&gt;</value>
            </setting>
            <setting name="F6" serializeAs="String">
                <value>&lt;a href=""&gt; &lt;/a&gt;</value>
            </setting>
            <setting name="F7" serializeAs="String">
                <value>&lt;img src=""&gt;</value>
            </setting>
            <setting name="F8" serializeAs="String">
                <value>&lt;blockquote&gt; &lt;/blockquote&gt;</value>
            </setting>
            <setting name="F9" serializeAs="String">
                <value>&lt;hr&gt;</value>
            </setting>
            <setting name="F10" serializeAs="String">
                <value>&lt;!DOCTYPE HTML PUBLIC " -//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-StyleChanged-Type" content="text/css"&gt;
&lt;title&gt;

&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;

&lt;/body&gt;
&lt;/html&gt;</value>
            </setting>
            <setting name="SearchUP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bigandsmall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchWord" serializeAs="String">
                <value />
            </setting>
            <setting name="ReplaceWord" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApp2.Properties.Settings>
    </userSettings>
</configuration>